/*Parametres generaux*/
* {
    margin: 0;
    padding: 0;
    a {
        all:unset;
    }
    ul{
        list-style: none;
    }
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    min-width: 320px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-color: #2B2B2B;

    color: #2B2B2B;
}
/*header*/
header {
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    position: fixed;
}
/**/
.menuNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out 0s;

}
.menuNavigation li a{
    
    height: 3rem;
    width: 120%;
    
    font-size: 1.5rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s ease-in-out 0s;
    cursor: pointer;
}

.menuNavigationDark li a{
    color: white;
}
.menuNavigationDark li a:hover { 
    background-color: rgba(0, 0, 0, 0.2);
}
.menuNavigationDark li a:focus-within {
    background-color: rgba(0, 0, 0, 0.8);
}

.menuNavigationLight {
    color: #2B2B2B;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.menuNavigationLight li a:hover { 
    background-color: #eeeeee;
}
.menuNavigationLight li a:focus-within {
    background-color: #d8d8d8;
}

@media screen and (max-width: 700px) {
    .navUIDesktop {
        display: none;
    }
}

/* UI Navigation mobile*/

.homeMenuIconBox{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#homeMenuIcon {
    height: 3rem;
}

.mobileNavMenuBox {
    background-color: rgba(0, 0, 0, 0.0);
    width: 100%;
    top: 3rem;
    left: 0px;

    pointer-events: none;
    position: fixed;    

    transition: all 0.2s ease-in-out 0s;

}

.mobileNavMenu {
    transition: transform 0.2s ease-in-out 0s;

    transform: translateX(-100%);
    height: 100vh;
    width: 75%;
    
    background-color: #F5F5F5;

}

.mobileNavMenuBox.open { /* !!! normaliser les classList de classe */
    pointer-events: auto;
}

.mobileNavMenu li {

    display: flex;
    justify-content: center;
    font-size: 1.5rem;

    box-sizing: content-box;
}

.mobileNavMenu li a {
    margin: 2rem 2rem;
    height: 5vh;
    width: 70%;

    background-color: rgb(255, 117, 117);
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    color: white;

    display: flex; /* !! faire une class pour les 2500 display flex*/
    justify-content: center;
    align-items: center;
    
}

@media screen and (min-width: 700px) {
    .navMobileUI {
        display: none;
    }
}

/*Section accueil*/

main {
    z-index: 5;
}

.sectionIndex {

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
    text-align: center;
    color: white;
    font-size: 2.5rem;

    text-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.5);

    background-image: url("../images/wallpaper.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1000px) {
    .sectionIndex{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 700px) {
    
    .sectionIndex{
        justify-content: spac;
    }
    
    .sectionIndex p{
        display: none;
    }
}
.sectionIndex img{
    margin-top: 5rem;
    height: 5rem;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}
.sectionIndex img:hover{
    transform: rotate(270deg) scale(1.5);
    cursor: pointer;
}

/*Section A Propos*/
.sectionAbout{
    scroll-margin-top: 5rem;

    min-height: 100vh;

    background: #F5F5F5;
    background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(247, 247, 247, 1) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 0.1rem solid #e4e4e4;

}

h2 {
    font-size: 3rem;
    color: #2B2B2B;
}

.sectionAbout article {
    width: 70%;
    min-width: 320px;
    margin: 5rem;
    padding: 2rem;

    background-color: white;
    border-radius: 0.5rem;

    font-size: 1.5rem;
    color: #2B2B2B;

    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

@media screen and (max-width: 800px){
    .sectionAbout article {
        width: 100%;
    }
} 

/*Section Competences*/
.sectionCompetences {
    scroll-margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    border: 0.1rem solid #e4e4e4;

    background: #F5F5F5;
    background: linear-gradient(179deg, rgba(245, 245, 245, 1) 0%, rgba(242, 252, 255, 1) 100%);

    min-height: 100vh;
}
.blockSectionCompetences {

    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-template-rows: repeat(4, 10rem);
    gap: 1rem;

    text-align: center;

}

.blockCompProgression {
    grid-column: 2 / 3;
}

@media screen and (max-width: 1500px) {
    .blockSectionCompetences {

        grid-template-columns: repeat(2, 30rem);
        grid-template-rows: repeat(5, 10rem);
    }
    .blockCompProgression{
        grid-column: 1 / -1; /*Re enqueter sur cette affaire*/
    }
}

@media screen and (max-width: 1100px) {
    .blockSectionCompetences {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 10rem);
    }
    .blockCompProgression{
        grid-column: 1 / -1; /*Re enqueter sur cette affaire*/
    }
}

.blockSectionCompetences h2 {
     grid-column: 1 / -1;
}

.blockCompetences{
    background-color: white;
    color: #2B2B2B;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

meter{
width: 70%;
height: 2rem;
}

/* Style meter pour Chrome, Edge, Safari */
meter::-webkit-meter-bar {
  border-radius: 6px;
  background: #d3ebff;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  background: #2196f3;
  border-radius: 6px;
}

/* Style meter pour Firefox */

@supports (-moz-appearance: none) {
  meter {
    -moz-appearance: none;
    appearance: none;
    background: #e0e0e0;
    overflow: hidden;
    height: 1rem;
    border-radius: 1rem;
        }
}

meter::-moz-meter-bar {
  background: #2196f3 !important;
  border-radius: 6px;
}

.blockCompetences table {
    width: 70%;
    
    border-collapse: separate;
    margin-bottom: 1rem;
}

.blockCompetences table tr {
    display: flex;
    justify-content: space-between;
}

.blockCompetences table td {
    border: 0.1rem solid #e4e4e4;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.blockCompNodeProgression {
    grid-column: 2 / 3;
    font-size: 1.5rem;
    text-align: center;
}

/*Section Projets*/

.sectionProjets { /* !!! Est identique à section contact*/
    scroll-margin-top: 5rem;

    border: 0.1rem solid #e4e4e4;

    background: #F5F5F5;
    background: linear-gradient(179deg, rgba(245, 245, 245, 1) 0%, rgba(255, 242, 242, 1) 100%);

    min-height: 100vh;
    margin-top: 1rem;
    padding-top: 0rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;
}


.projetsSubsection {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projetsSubsection table {
    width: 1fr;
    max-width: 30rem;
    margin: 1rem;

    background-color: white;
    /* border: 0.1rem solid #e4e4e4; */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.projetsRowName {
    height: 5rem;
    font-size: 2rem;

    font-style: italic;
}

.projetsRowInfo {
    height: 15rem;
    font-size: 1.5rem;
    text-align: normal;
    line-height: 2.5rem;
    color: #5a5a5a;
}
.projetsRowInfo td{
    padding: 1rem;
    text-align: center;
}

.projetsRowTechno{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projetsRowTechno td span{
    border-radius: 1rem;

    background-color: #ff5454;
    color: white;

    padding: 0.5rem 1rem;
}


@media screen and (max-width: 550px) {
    .projetsRowTechno td span{
        padding: 0.2rem 0.5rem;
    }
}

/* Section infos et formulaire de contact */

.sectionContact {
    scroll-margin-top: 5rem;

    border: 0.1rem solid #e4e4e4;
    background-color: #F5F5F5;
    min-height: 100vh;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocContact{
    /*border: 0.1rem solid #e4e4e4;*/

    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
    margin-top: 5rem;
    width: 50%;
    min-width: 320px;
    font-size: 1.5rem;
    color: #5a5a5a;

}

.blocContact nav {
    margin-top: 3rem;
}
.blocContact nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0rem;
}
.iconContact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0.1rem solid #e4e4e4;
    border-radius: 1rem;
    width: 10rem;

    padding: 1rem;
    background-color: #2B2B2B;
    color: white;
}

.iconContact:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out 0s;
    
    cursor: pointer;
}
.iconContact img{
    height: 3rem;
}

@media screen and (max-width: 1300px) {
    .blocContact nav ul {
        flex-direction: column;
        align-items: center;
        transform: scale(0.8);
    }
}

